<footer class="u-mb(base)">
    <img src="{{ asset('build/images/logo.svg') }}" alt="logo JoliTypo" width="200" height="200">
    <div class="u-d(flex) u-jc(space-between) u-ai(center) u-mt(base)">
       <span>&#xA9; 2010 - {{ 'now'|date('Y') }}</span>
        <span>Made By Damien Alexandre with ❤️</span>
        <button class="c-button"><a href="{{ jolitypo_lib_link }}">Github</a></button>
    </div>
</footer>
