<section class="u-mb(lg)">
    <h2 class="u-c(glossary) u-mb_min15">GLOSSARY</h2>
    <div class="o-grid u-ai(center) u-mt(lg)@tablet-down u-pt(sm)">
        <div class="o-grid__col o-grid__col--6 glo">
            <p>Thanks to theses online resources for helping a developer understand typography:</p>
            <p>🇫🇷
                http://typographisme.net/post/Les-espaces-typographiques-et-le-web
                http://dascritch.net/post/2011/05/09/Les-espacements-unicodes
                http://www.uzine.net/article1802.html
                « Abrégé du code typographique à l’usage de la presse », ISBN: 9782351130667</p>
            <p>🇬🇧
                http://daringfireball.net/projects/smartypants/
                https://en.wikipedia.org/wiki/Non-English_usage_of_quotation_marks
                http://www.punctuationmatters.com/ is a must read
                http://practicaltypography.com/</p>
        </div>
        <div class="o-grid__col o-grid__col--6">
            <img src="{{ asset('build/images/reading_man.svg') }}" alt="" width="100%">
        </div>
    </div>
</section>
