<header class="o-grid u-mb(md)">
    <div class="o-grid__col o-grid__col--12 u-fxd(column) u-ai(center) u-d(flex)">
        <h1 class="u-mb(base)">
            <a href=""><img src="{{ asset('build/images/logo.svg') }}" alt="JoliTypo logo" width="200px" height="200px"></a>
        </h1>
        <div>
            <img src="https://poser.pugx.org/jolicode/jolitypo/v" alt="">
            <img src="https://poser.pugx.org/jolicode/jolitypo/downloads" alt="">
            <img src="https://poser.pugx.org/jolicode/jolitypo/license" alt="">
            <img src="https://poser.pugx.org/jolicode/jolitypo/v/unstable" alt="">
        </div>
        <p class="c-subtitle u-mb(base)">Jolitypo is a tool fixing Microtypography glitches inside your HTML content</p>
        <button class="c-button"><a href="{{ jolitypo_lib_link }}" target="_blank">Github</a></button>
    </div>
</header>
