<section class="u-mb(lg)">
    <h2 class="u-c(used_by) u-mb(md)">USED BY</h2>
    <div class="u-d(flex) u-ai(center) u-jc(space-around) u-pt(base) u-fxw(wrap)">
        {% for i in 0..4 %}
                <img class="u-pl(base) u-pr(base)" src="https://picsum.photos/500/500" alt="">
        {% endfor %}
    </div>
</section>
